# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
  app.name: '%env(APP_NAME)%'
  app.default_from_email: '%env(DEFAULT_FROM_ADDR)%'
  app.default_from_name: '%env(DEFAULT_FROM_NAME)%'
  cache_adapter: cache.adapter.filesystem
  general_proposal_template_upload: 'proposals/templates'
  general_proposal_template_upload_dir: '%kernel.project_dir%/src/Proposals/Infrastructure/Resources/%general_proposal_template_upload%'
  elasticsearch.config_dir: '%kernel.project_dir%/src/Shared/Infrastructure/Database/ES/config'

services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  App\Shared\Application\Security\Voter\UserActiveVoter:
    tags:
      - { name: security.voter }
  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  App\:
    resource: '../src/'
    exclude: '../src/{Shared/Infrastructure/Database/ES/config}'
  _instanceof:
    App\Shared\Application\Command\CommandHandlerInterface:
      tags:
        - { name: messenger.message_handler, bus: command.bus }

    App\Shared\Application\Query\QueryHandlerInterface:
      tags:
        - { name: messenger.message_handler, bus: query.bus }

    App\Shared\Application\Event\EventHandlerInterface:
      tags:
        - { name: messenger.message_handler, bus: event.bus }
    App\Shared\Application\Message\MessageHandlerInterface:
      tags:
        - { name: messenger.message_handler,  bus: message.bus }

    App\Shared\Domain\Specification\SpecificationInterface:
      public: true

  App\*\Domain\Factory\:
    namespace: App\
    public: true
    resource: '../src/*/Domain/Factory'
    exclude: '../src/Shared/*'

  App\Users\Infrastructure\Controller\:
    resource: '../src/Users/Infrastructure/Controller'
    tags: [ 'controller.service_arguments' ]

  #        add custom fields to jwt
  acme_api.event.jwt_created_listener:
    class: App\Shared\Application\EventListener\JWTCreatedListener
    arguments: [ '@request_stack' ]
    tags:
      - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_created, method: onJWTCreated }

  # Alias for KeyLoaderInterface to use default RawKeyLoader
  Lexik\Bundle\JWTAuthenticationBundle\Services\KeyLoader\KeyLoaderInterface: '@lexik_jwt_authentication.key_loader.raw'

  App\Shared\Domain\Service\RedisService:
    arguments:
      - '@app.service_redis_provider'

  App\Shared\Infrastructure\Validation\Validator:
    arguments:
      $validatorBuilder: '@validator.builder'

  app.service_redis_provider:
    class: \Redis
    factory: [ 'Symfony\Component\Cache\Adapter\RedisAdapter', 'createConnection' ]
    arguments:
      - 'redis://%env(resolve:REDIS_HOST)%'
      - { retry_interval: 2, timeout: 10 }

  App\Shared\Domain\Service\Mailer:
    arguments:
      $appName: '%app.name%'
      $defaultFromEmail: '%app.default_from_email%'
      $defaultFromName: '%app.default_from_name%'

  App\Proposals\Application\Service\Handler\GenerateCommercialProposalXlsx:
    arguments:
      #      $fileSystem: '@oneup_flysystem.upload_general_proposal_filesystem'
      $pathToDirectory: '%general_proposal_template_upload_dir%'

  # Telegram
  App\Shared\Infrastructure\EventListener\Request\SessionRequestProcessor:
    tags:
      - { name: monolog.processor, channel: 'coating' }
  telegram_handler:
    class: App\Shared\Infrastructure\Log\TelegramLogHandler
    arguments:
      - '%env(LOG_TELEGRAM_BOT_KEY)%'
      - '%env(LOG_TELEGRAM_CHANNEL)%'

  # Telegram Notification
  App\Notifications\Application\Service\Telegram\TelegramBotService:
    arguments:
      $webhookUrl: '%env(TELEGRAM_NOTIFICATION_BOT_WEBHOOK)%'
      $commandPath: /app/src/Notifications/Application/Service/Telegram/Command
      $secret: '%env(TELEGRAM_NOTIFICATION_BOT_SECRET)%'

  Longman\TelegramBot\Telegram:
    arguments:
      - '%env(TELEGRAM_NOTIFICATION_BOT_TOKEN)%'  # API ключ
      - '%env(TELEGRAM_NOTIFICATION_BOT_USERNAME)%'  # Имя бота
  # Telegram Notification


  # Telegram Bot Webhook
  App\Shared\Infrastructure\Controller\Telegram\TelegramWebhookController:
    arguments:
      $telegramBotService: '@App\Notifications\Application\Service\Telegram\TelegramBotService'
      $logger: '@logger'

  #Elastic_search
  Elastic\Elasticsearch\ClientInterface:
    factory: [ 'Elastic\Elasticsearch\ClientBuilder', 'fromConfig' ]
    arguments:
      - hosts: [ '%env(ELASTIC_DSN)%' ]
        basicAuthentication: [ '%env(ELASTIC_USERNAME)%', '%env(ELASTIC_PASSWORD)%' ]
        sslVerification: false

  #Валидатор почты
  App\Users\Infrastructure\Service\Validation\EmailListValidator:
    arguments:
      $whitelist: [ ]
      $blacklist: [ ]
      $whitelistPatterns: [ '*@offire.ru', '*@1helper.ru' ]
      $blacklistPatterns: [ ]
      $whitelistEnabled: true
      $blacklistEnabled: false
