<div class="d-flex gap-2 mb-3">
    <a href="{{ path(edit, {'id': id}) }}" type="button" class="btn btn-outline-primary">
        <i class="bi bi-pencil"></i>
    </a>
    <a href="{{ path(delete, {'id': id}) }}" type="button" class="btn btn-outline-danger">
        <i class="bi bi-trash3"></i>
    </a>
</div>
