{% extends 'emails/base.html.twig' %}

{% block title %}Регистрация компании на {{ app_name }}{% endblock %}

{% block body %}
    <p>Здравствуйте, <strong>{{ user.profile.firstName ?? 'Пользователь' }}</strong>!</p>
    <p>
        Добро пожаловать в {{ app_name }}. Это письмо отправлено автоматически на почту администратора компании.
    </p>
    <p><a class="btn" href="{{ loginLink }}">Войти</a></p>
{% endblock %}
