{% extends 'emails/base.html.twig' %}

{% block title %}Уведомление от {{ appName }}{% endblock %}

{% block body %}
    <p><strong>Здравствуйте!</strong></p>
    <div>{{ message|nl2br|raw }}</div>
{% endblock %}
