{% extends 'emails/base.html.twig' %}

{% block title %}Запрос на регистрацию компании — {{ app_name }}{% endblock %}

{% block body %}
    <p>Здравствуйте, администратор!</p>
    <p>Сформирован новый запрос на регистрацию компании. Данные:</p>
    <ul class="data-list">
        {% for key, item in context %}
            <li><strong>{{ key }}:</strong> {{ item|default('не указано') }}</li>
        {% endfor %}
    </ul>
{% endblock %}
